
.lakes {
    fill: #FFF;
    stroke: black;
    stroke-width: 2px;
}
.path {
    fill: #FFF;
    stroke: black;
    stroke-width: 2px;
}
.regions {
    fill: rgb(131, 129, 129);
    stroke: #CCC;
    stroke-width: .5px;
}
.map {
    border: medium solid #999;
}