
.lakes {
    fill: #FFF;
    stroke: black;
    stroke-width: 2px;
}
.path {
    fill: #FFF;
    stroke: black;
    stroke-width: 2px;
}
.regions {
    fill: rgb(131, 129, 129);
    stroke: #CCC;
    stroke-width: .5px;
}
.map {
    border: medium solid #999;
}
.numbers {
    fill: white;
    font-family: sans-serif;
}
.numbers {
    fill: white;
    font-family: sans-serif;
}
.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.chartBackground {
    fill: white;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}